<div layout="column" ng-cloak>
	<md-content layout-padding>
		<form name="projectForm">
			<md-input-container class="md-block">
				<label>学号或职工号</label>
				<input required name="egrade" ng-model="number">
				<div ng-messages="projectForm.egrade.$error">
					<div ng-message="required">必填</div>
				</div>
			</md-input-container>
			<md-button class="md-raised md-primary" ui-sref="search.student({sno: number})">查学生</md-button>
			<md-button class="md-raised md-primary" ui-sref="search.teacher({tno: number})">查职工</md-button>
		</form>
	</md-content>
</div>